= render './header'
.panel
  %h1 User
  - if flash.present?
    = render './flash_msg'
  = render 'user'
  %br
  = render 'note'



:javascript

  $("#wage_field").hide();

  $("#hide_wage_field").mouseover(
    function(){
      $(this).hide();
      $("#wage_field").show();
    }
  );

  $("#wage_field").mouseleave(
    function(){
      $(this).hide();
      $("#hide_wage_field").show();
    }
  );
