= render './header'
.panel
  %h1 New Record
  .form.center
    = form_for :record, url: user_records_path, method: :post do |f|
      - if flash.present?
        = render './flash_msg'
      %p
        .label='Type'
        .medium-4=f.select :record_type, options_for_select(['衣', '食', '住', '行', '玩', 'income', 'other'])
      %p
        .label= 'Title'
        .medium-4=f.text_field :title
      %p
        .label='Description'
        .medium-4=f.text_area :description
      %p
        .label='Amount'
        .medium-4=f.text_field :amount
      %p
        .label='Date'
        .medium-4=f.date_field :record_date, value: Time.now.strftime('%Y-%m-%d')

      %button.submit='Create'


