%nav.top-bar
  %section.top-bar-section
    %ul.left
      %li.active
        =link_to 'Home', root_path
    %ul.right
      - if log_in?
        %li
          =link_to @current_user.name, @current_user
        %li
          =link_to 'Notes', user_notes_url(@current_user)
        %li
          =link_to 'Records', user_records_url(@current_user)
        %li
          =link_to 'Important Records', user_records_url(@current_user, important: true)
        %li
          =link_to 'Create Record', new_user_record_path(@current_user)
        %li
          =link_to 'Log out', logout_path, method: 'DELETE'
      - else
        %li
          =link_to 'Sign In', login_path