.medium-2.columns.grey
  %ul.side-nav
    %li.active
      =link_to 'Home', root_path
    %li
      %a.a{:href => "#"} Link 2
    %li.divider
    %li
      %a.a{:href => "#"} Link 3
    %li
      %a.a{:href => "#"} Link 4